---
import ArrowDropDown from "@assets/svg/ArrowDropDown.astro";

interface Props {
  link: string;
  label: string;
  isSubMenu?: boolean;
  styles?: string;
}

const { link, label, isSubMenu = false, styles = "" } = Astro.props;
---

<li
  class={`uppercase text-stone-200 flex items-center relative ${styles}`}
  id={isSubMenu ? `${label.toLowerCase()}-hover` : ""}>
  <a
    title={label}
    href={link}
    class="text-stone-200"
    >{label}</a
  >
  {
    isSubMenu && (
      <>
        <ArrowDropDown color="#ffffff" />
      </>
    )
  }
</li>

<script>
  document.addEventListener("astro:page-load", () => {
    const silosHoverComponent = document.getElementById("silos-hover");
    const dropdownComponet = document.getElementById("dropdown-silos-menu");
    let hideTimeout: ReturnType<typeof setTimeout>;

    if (silosHoverComponent && dropdownComponet) {
      const showDropdown = () => {
        clearTimeout(hideTimeout);
        dropdownComponet.classList.remove(
          "hidden",
          "opacity-0",
          "translate-y-2"
        );
        dropdownComponet.classList.add("flex", "opacity-100", "translate-y-0");
      };

      const hideDropdown = () => {
        hideTimeout = setTimeout(() => {
          dropdownComponet.classList.add("opacity-0", "translate-y-2");
          setTimeout(() => {
            dropdownComponet.classList.add("hidden");
            dropdownComponet.classList.remove("flex");
          }, 200);
        }, 200);
      };

      silosHoverComponent.addEventListener("mouseenter", showDropdown);
      silosHoverComponent.addEventListener("mouseleave", hideDropdown);
      dropdownComponet.addEventListener("mouseenter", showDropdown);
      dropdownComponet.addEventListener("mouseleave", hideDropdown);
    }
  });
</script>
